*.o
.DS_Store
.*.swp
/env
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/files
/package/feeds
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
#
/backup
/dl
/target/linux/hisilicon/base-files/etc/soc-version
/target/linux/ramips/patches-3.18/0521-zftlab-flyprotect.patch
